body{
    background-color:#00eeee;
}

h1{
    color:#ff0000;
    font-family:Georgia;
    font-variant:small-caps;
}

.red_p{
    color:#ff0000;
}

code{
    font-weight:bolder;
    color:#00ff00;
    background-color: #000000;
}

img{
    width:25%;
    border:25px solid #000000;
    padding:15px;
    background-color:#778899;
    border-radius:15px;
}

nav a{
    font-weight:bold;
    display:inline-block;
    color:#000000;
    background-color:#ffff00;
    padding:5px;
    text-decoration:none;
}

nav a:hover{
    background-color:#000000;
    color:#ffff00;
}

nav a:focus{
    background-color:#000000;
    color:#ffff00;
}

nav a:active{
    background-color:#ff0000;
}

a{
    font-weight:bold;
    display:inline-block;
    color:#ffffff;
    background-color:#00aa00;
    padding:5px;
    text-decoration:none;
    transition-property:color, background-color, border-radius;
    transition-duration:500ms;
}

a:hover{
    color:#000000;
    background-color:#00ff00;
    border-radius:15px;
}

a:focus{
    color:#000000;
    background-color:#00ff00;
    border-radius:15px;
}

a:active{
    background-color:#ff0000;
}
