body{
    background-color:#00eeee;
}

nav a{
    font-weight:bold;
    display:inline-block;
    color:#000000;
    background-color:#ffff00;
    padding:5px;
    text-decoration:none;
}

nav a:hover{
    background-color:#000000;
    color:#ffff00;
}

nav a:active{
    background-color:#ff0000;
}

a{
    font-weight:bold;
    display:inline-block;
    color:#ffffff;
    background-color:#00aa00;
    padding:5px;
    text-decoration:none;
}

a:hover{
    background-color:#00ff00
}

a:focus{
    background-color:#00ff00;
}

a:active{
    background-color:#ff0000;
}
