body{
    background-color:#00eeee;
}

h1{
    color:#ffaa00;
    font-family:Georgia;
    font-variant:small-caps;
}

p{
    color:#ff0000;
}
img{
    width:25%;
}

a{
    font-weight:bold;
    display:inline-block;
    color:#ffffff;
    background-color:#00aa00;
    padding:5px;
}

a:hover{
    background-color:#00ff00
}

a:focus{
    background-color:#00ff00;
}

a:active{
    background-color:#ff0000;
}
